@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
    font-family: 'Lato', ‘Helvetica Neue’, 'Helvetica', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
}

a:link, a:visited {
    text-decoration: none; 
    color: #55E;
}

a:hover, input:focus { 
    color: #00E;
}


h1, h2, h3 {
    font-family: 'Raleway', ‘Helvetica Neue’, 'Helvetica', 'sans-serif';
    font-weight: 300;
}
h1 {
    font-size: 300%;
    margin: 0;
}
h2 {
    color: #505050;
    font-size: 150%;
    margin: 0;
}
h3 {
    color: #505050;
    font-size: 125%;
}

.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.9;
}

header {
    padding: 1em;
    background-color: #FA5A0F;
    border-bottom: 5px solid #EA4A00;
    color: #FFFFFF
}

 .motto {
     display: none;
 }

header p {
    font-size: 120%;
    color: #EEEEEE;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;;
    display: inline-block;
    margin-right: 1em;
}

.general {
    padding: 1em;
    }

.menu {
    padding: 1em;
    background-color: rgb(207,205,140);
    opacity: 0.5;
}

dt{    
    font-weight: 400;
}

dd {
    font-size: 80%;
    font-style: italic;
    margin-left: 1em;
    margin-bottom: 1em;
}

.about {
    padding: 1em;
}

footer {
    padding: 1em;
    background-color: #FC892F;
    border-top: 5px solid #EC791F;
    font-size: 80%;
    text-align: right;
}

@media (min-width: 992px) {
    .container-fluid {
        margin-left: 30%;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-image: url(../img/ricepaper_v3.png);
    }

    body {
        font-size: 18px;
        font-weight: 300;
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        position: relative;
    }

    nav {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .motto {
        display: inline;
    }
}
